[sources.tcp_source_1]
type = "socket"
address = "127.0.0.1:19001"
mode = "tcp"
max_length = 10485760


[transforms.parser]
type = "remap"
inputs = ["tcp_source_1"]
source = '''
parsed = parse_regex!(
  .message,
  r'^\[(?P<Time>[^\]]+)\]\s+\[(?P<Level>[^\]]+)\]\s+(?P<Content>.*)$'
)

.Time = parsed.Time
.Level = parsed.Level
.Content = parsed.Content

if starts_with(.Content, "jk2_init() Found child ") {
  .EventId = "E1"
  .EventTemplate = "jk2_init() Found child <*> in scoreboard slot <*>"
} else if starts_with(.Content, "workerEnv.init() ok ") {
  .EventId = "E2"
  .EventTemplate = "workerEnv.init() ok <*>"
} else if starts_with(.Content, "mod_jk child workerEnv in error state ") {
  .EventId = "E3"
  .EventTemplate = "mod_jk child workerEnv in error state <*>"
} else if contains(.Content, "Directory index forbidden by rule:") {
  .EventId = "E4"
  .EventTemplate = "[client <*>] Directory index forbidden by rule: <*>"
} else if starts_with(.Content, "jk2_init() Can't find child ") {
  .EventId = "E5"
  .EventTemplate = "jk2_init() Can't find child <*> in scoreboard"
} else if starts_with(.Content, "mod_jk child init ") {
  .EventId = "E6"
  .EventTemplate = "mod_jk child init <*> <*>"
}
del(.message)
'''

[sinks.file_out]
type = "blackhole"
inputs = ["parser"]

[api]
    enabled = true